.env
.env.*
drafts/

secrets/*
!secrets/*.sops.yaml
keys.txt
*.agekey
*.dec.yaml
*.dec.json
*.pem
*.key

.terraform/
*.tfplan
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
.tofurc

talosconfig
kubeconfig
*.kubeconfig
/secrets.yaml
/controlplane.yaml
/worker.yaml

.ansible/
*.retry

*.sarif
