[defaults]
inventory = inventory.yml
roles_path = roles
interpreter_python = auto_silent
stdout_callback = default
callback_result_format = yaml
retry_files_enabled = false

[ssh_connection]
pipelining = true
