[Unit]
Description=Garage object storage
After=network-online.target
Wants=network-online.target

[Service]
User=garage
Group=garage
Environment=RUST_LOG=garage=info
ExecStart=/usr/local/bin/garage -c /etc/garage/garage.toml server --single-node
Restart=on-failure
LimitNOFILE=42000
NoNewPrivileges=true
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/var/lib/garage

[Install]
WantedBy=multi-user.target
